/* BG colors of login and registration page */

.gradient-custom {
  
  background: #3b5323;

  background: -webkit-linear-gradient(to right, #e87eed, #08b6cd);

  background: linear-gradient(to right, #e87eed, #08b6cd);
  height: 100%;
}
/* BG colors of home/media pages */
#home {
  background: -webkit-linear-gradient(to right, #e87eed, #08b6cd);

  background: linear-gradient(to right, #e87eed, #08b6cd);  height: 100%;
}
.navbar-light {
  background: -webkit-linear-gradient(to right, #e87eed, #08b6cd);

  background: linear-gradient(to right, #e87eed, #08b6cd);  height: 100%;
}
footer{
  background: -webkit-linear-gradient(to right, #e87eed, #08b6cd);

  background: linear-gradient(to right, #e87eed, #08b6cd);  height: 100%;
}

/* #login{
  display: flex;
  justify-content: center;
  align-items: center; 
} */

/* NavBar Fonts */
.navbar-nav .nav-link {
  font-size: 30px; /* set the font size */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  color: white; 
}
.navbar-nav .active > .nav-link {
  /* font-weight: bold; */
  /* text-decoration: underline; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  color: rgb(233, 243, 37); 

}

/* Change color of buttons (must be declared as btn-green) */
.btn-green {
  background: linear-gradient(to right, #e87eed, #08b6cd);
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 18px;
  width: 200px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


/* Footer settings */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  height: 40px;
  line-height: 50px;
  max-height: 100px;
}

.link-primary {
  text-decoration: none;
}

/* Card Settings */
.card-data-container::-webkit-scrollbar {
  display: none;
}

.card-data-container {
  max-height: 300px; /* Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
}

.form-control {
  white-space: nowrap;
}