/* 
@media (min-width:500px) {
  .caption-2 .action-footer {
      margin:0;
      position: relative;
      bottom: 0;
      height: 10%;
      width: 100%;
  }
}


body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
 */

.gradient-custom {
  background: #537FE7;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(48, 124, 255,1), rgb(175, 212, 251, 1) repeat-x scroll 0% 0% #537FE7);

  background: linear-gradient(to right, rgba(48, 124, 255,1), rgba(175, 212, 251, 1)) repeat-x scroll 0% 0% #537FE7; 
  height: 100%;
}

#home {
  background-color: #E5E5F9;
  height: 100%;
}

.link-primary {
  text-decoration: none;
}

.card-data-container::-webkit-scrollbar {
  display: none;
}

.card-data-container {
  max-height: 300px; /* Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
}

